* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  /* https://grabient.com/HQBgnAbANMAcCsAWGB2EAmKBaEwCMII2ueKKM6AzNDsImJrRAccJWHq3uubSJbBggIKIA?style=linearGradient&steps=7&angle=180 */

  background: linear-gradient(
    180deg,
    rgba(7, 174, 234, 1) 0%,
    rgba(18, 189, 239, 1) 16.667%,
    rgba(31, 215, 234, 1) 33.333%,
    rgba(42, 243, 221, 1) 50%,
    rgba(49, 255, 200, 1) 66.667%,
    rgba(49, 255, 176, 1) 83.333%,
    rgba(43, 245, 152, 1) 100%
  );
  min-height: 100vh;

  .cards {
    position: relative;

    padding: 30px;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      background-color: #fff;
      gap: 10px;
      margin: 10px 10px;
      padding: 8px 10px;
      border-radius: 25px;
      p {
        text-align: justify;
        line-height: 1.4;
        color: #646464ff;
      }
    }
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 90px;
  /* https://grabient.com/HQThGYBpgdgFgGzXkgtABmARneyHgAmdLaHPAxOfTOYm4OtTQu6dAVg+mJiA?style=linearGradient&steps=7&angle=180 */

  background: linear-gradient(
    180deg,
    rgba(252, 142, 197, 1) 0%,
    rgba(255, 139, 207, 1) 16.667%,
    rgba(255, 146, 214, 1) 33.333%,
    rgba(255, 161, 216, 1) 50%,
    rgba(255, 182, 213, 1) 66.667%,
    rgba(255, 205, 205, 1) 83.333%,
    rgba(255, 224, 195, 1) 100%
  );
}
